<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error - Social Media</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="grey lighten-4">

  <nav class="blue darken-2">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">
        <i class="material-icons">facebook</i> SocialApp
      </a>
      <ul class="right">
        <li><a href="/posts"><i class="material-icons left">home</i>Inicio</a></li>
      </ul>
    </div>
  </nav>

  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="card">
          <div class="card-content center-align">
            <i class="material-icons large red-text" style="font-size: 4em;">error</i>
            <h4 class="red-text">¡Oops! Algo salió mal</h4>
            <p class="flow-text"><%= error || 'Ha ocurrido un error inesperado' %></p>
            <div style="margin-top: 30px;">
              <a href="/posts" class="btn blue darken-2 waves-effect waves-light">
                <i class="material-icons left">home</i>Volver al Inicio
              </a>
              <a href="javascript:history.back()" class="btn-flat waves-effect waves-teal" style="margin-left: 10px;">
                <i class="material-icons left">arrow_back</i>Regresar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>