<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card hoverable">
      <div class="card-content center-align">
        <!-- Icono de error -->
        <i class="material-icons" style="font-size: 120px; color: #9e9e9e;">search_off</i>
        
        <!-- Código de error -->
        <h1 class="grey-text text-darken-2" style="font-size: 4rem; margin: 20px 0;">404</h1>
        
        <!-- Título -->
        <h4 class="grey-text text-darken-2">Página No Encontrada</h4>
        
        <!-- Descripción -->
        <p class="grey-text">
          Lo sentimos, la página que buscas no existe o ha sido movida.
          <br>
          Verifica la URL o utiliza los enlaces de navegación.
        </p>
        
        <!-- Información adicional -->
        <div class="card-panel blue lighten-4">
          <p class="blue-text text-darken-2">
            <i class="material-icons left">info</i>
            <strong>¿Qué puedes hacer?</strong>
          </p>
          <div class="left-align">
            <ul class="collection">
              <li class="collection-item">
                <i class="material-icons left blue-text">chevron_right</i>
                Verifica que la URL esté escrita correctamente
              </li>
              <li class="collection-item">
                <i class="material-icons left blue-text">chevron_right</i>
                Regresa a la página principal
              </li>
              <li class="collection-item">
                <i class="material-icons left blue-text">chevron_right</i>
                Utiliza el menú de navegación
              </li>
              <li class="collection-item">
                <i class="material-icons left blue-text">chevron_right</i>
                Reporta el enlace roto si llegaste desde otra página
              </li>
            </ul>
          </div>
        </div>
        
        <!-- Botones de acción -->
        <div class="row" style="margin-top: 30px;">
          <div class="col s12 m6">
            <a href="/" class="btn-large waves-effect waves-light blue darken-3 full-width">
              <i class="material-icons left">home</i>Ir al Inicio
            </a>
          </div>
          <div class="col s12 m6">
            <a href="javascript:history.back()" class="btn-large waves-effect waves-light grey full-width">
              <i class="material-icons left">arrow_back</i>Volver Atrás
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.full-width { width: 100% !important; }
.collection .collection-item {
  border: none !important;
  padding: 10px 0 !important;
}
</style>
